*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 70px;
  width: 100%;
  display: inline-block;
  position: fixed;
  background-color:beige;
  z-index: 99;
  text-align: right;

}

header ul li{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid grey;
  text-align: center;
  margin-right: 20px;
  margin-top: 20px;
}

header ul li a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  line-height: 30px;
}

main .block{
  height: 100vh;
  position: relative;
}

.block.red-block{
  background-color: red;
}

.block.green-block{
  background-color: green;
}

.block.yellow-block{
  background-color: yellow;
}

.contain .position-img{
  position: absolute;
}

