/***** GLOBAL *****/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
} 


body{
  font-family: 'Rubik Mono One', sans-serif;
}

header{
  height: 70px;
  width: 100%;
  display: inline-block;
  position: fixed;
  z-index: 99;
  text-align: right;

}

.contain{
  width: 50%;
  position: absolute; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%);
  text-align: center;
}

/* HEADER */
header ul li{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid grey;
  text-align: center;
  margin-right: 20px;
  margin-top: 20px;
}

header ul li a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  line-height: 30px;
}

/* MAIN */
main .block{
  height: 100vh;
  position: relative;
}

.block.red-block{
  background-color: #f80204;
}

.block.green-block{
  background-color: green;
}

.block.yellow-block{
  background-color: yellow;
}

/* CONTAIN */
.position-img{
  width: 100%;
}

.position-text{
  font-size: 50px;
  text-transform: uppercase;
}

.yellow-text{
  color: yellow;
}

.green-text{
  color: green;
}


